---
title: "세상을 연결하는 뉴스"
layout: default
pagination:
    enabled: true
description: "다양한 관점에서 모든 이슈를 다루며, 빠르고 신뢰할 수 있는 소식을 제공합니다."
---
<div class="container-fluid px-0"></div>
    <div class="row justify-content-center px-0 mx-0">

        <div class="col-lg-2 px-0 mx-0 order-2 order-lg-1">
            {% include adv-side-left.html %}
        </div>
        <div class="col-lg-2 px-0 mx-0 order-3 order-lg-3">
            {% include adv-side-right.html %}
        </div>
        <div class="col-lg-8 px-0 mx-0 order-1 order-lg-2">
            <div class="mw-1200 mx-auto">
                <article class="main-news card">
                    {% assign latest_post = site.posts.first %}
                    <div class="row px-0 mx-0">
                        <!-- 이미지 섹션 -->
                        <div class="col-md-6 order-md-2 px-0">
                            <div class="main-image">
                                {% if latest_post.image %}
                                <img class="rounded" src="{% if latest_post.image contains "://" %}{{ latest_post.image }}{% else %}{{ latest_post.image | absolute_url }}{% endif %}" alt="{{ latest_post.title }}">
                                {% endif %}
                            </div>
                        </div>
                        <!-- 본문과 최근글 섹션 -->
                        <div class="col-md-6 order-md-1 d-flex flex-column">
                            <a href="{{ latest_post.permalink | default: latest_post.url }}" class="text-decoration-none text-dark mb-3">
                                <div class="card-body px-0">
                                    <h2 class="news-title">{{ latest_post.title }}</h2>
                                    <p class="excerpt mb-2">
                                        {{ latest_post.content | clean_excerpt | truncate: 180 }}
                                    </p>
                        
                        
                                    <small class="text-muted d-block">
                                        <span class="catlist">
                                            <a class="text-capitalize text-muted smoothscroll" href="/{{ latest_post.categories[0] }}">{{ latest_post.categories_name[0] }}</a>
                                        </span> • <span class="timeago" data-date="{{ latest_post.date | date: "%Y-%m-%d" }} {% if latest_post.time %}{{ latest_post.time | date: "%H:%M" }}{% endif %}"></span>
                                        
                                        <!-- 수정일: {{ post.last_modified_at | date: "%Y-%m-%d" }} {% if post.last_time %}{{ post.last_time | date: "%H:%M" }}{% endif %} -->
                                    </small>
                                </div>
                            </a>
                        </div>
                    </div>
                </article>
            </div>

            <div class="mw-1200 mx-auto">
                <div class="row">
                    <!-- 전체 기사 -->
                    <div class="col-lg-7">
                        <div class="p-2">
                            <h4 class="font-weight-bold spanborder"><span>전체기사</span></h4>
                    
                            {% for post in paginator.posts %}
                                {% include main-loop-card.html %}
                            {% endfor %}
                            
                            <div class="mt-5 text-center">
                                <a href="/all/" class="btn btn-black px-5">전체 기사 보기</a>
                            </div>
                        </div>
                    </div>
         
                    <!-- 추천 기사 -->
                    <div class="col-lg-5">
                        <div class="p-2">
                            {% include sidebar-featured.html %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
