{% if site.ad_enable == true %}
<div class="ad-banner sticky-top-lr">
    <!-- for desktop -->
    <div class="sticky-top-lr-side d-none d-xl-block">
        <span class="ad-label">[AD]</span>
        <p>
            <script>
                new PartnersCoupang.G({"id":826998,"template":"carousel","trackingCode":"AF8254265","width":"auto","height":"778","tsource":""});
            </script>
        </p>
    </div>
    <!-- for mobile -->
    <div class="sticky-top-lr-side d-block d-xl-none">
        <span class="ad-label">[AD]</span>
        <p>
            <script>
                new PartnersCoupang.G({"id":827010,"template":"carousel","trackingCode":"AF8254265","width":"auto","height":"140","tsource":""});
            </script>
        </p>
    </div>
</div>
{% endif %}