<!-- Bootstrap Icons을 포함 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

<div id="comments" class="row mx-0 justify-content-center mt-5">
    <h3>댓글</h3>
    <div id="comments-section" class="mb-4">
    </div>

    <form id="comment-form" class="comment-form px-3" autocomplete="off">
        {% assign id_number = page.permalink | split: '/' | last %}
        <input type="hidden" id="post_id" value="{{id_number}}">
        <div class="form-row my-1">
            <div>
                <input type="text" class="form-control" id="user_name" placeholder="닉네임" required>
            </div>
            <div>
                <input type="password" class="form-control" id="password" placeholder="비밀번호" required>
            </div>
        </div>
        <div class="form-group">
            <textarea class="form-control" id="comment" rows="4" placeholder="" maxlength="500" required></textarea>
            <div class="char-count"><span id="char-count">0</span> / 500</div>
        </div>
        <div class="submit-container">
            <button type="button" class="submit-btn" id="generate-captcha-btn">Submit</button>
        </div>
        <div id="captcha-section" class="captcha-section">
            <div class="captcha-popup-content">
                <canvas id="captcha-canvas" width="140" height="37" class="captcha-canvas"></canvas>
                <input type="text" class="form-control" id="captcha-answer" placeholder="" required>
                <input type="hidden" id="captcha-id">
                <button type="button" class="submit-btn" id="verify-captcha-btn">Submit</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
function getCurrentTextColor() {
    const rootElement = document.documentElement;
    const currentTheme = document.body.getAttribute('data-theme') || 'light';

    let color = '#000000';
    if('dark' == currentTheme){
        color = '#d0d0d0';
    }

    return color || 'black';
}
    const apiUrl = 'https://ep-core.mynews1237.workers.dev';

    const commentTextarea = document.getElementById('comment');
    const charCountDisplay = document.getElementById('char-count');

    commentTextarea.addEventListener('input', () => {
        const currentLength = commentTextarea.value.length;
        if (currentLength > 500) {
            commentTextarea.value = commentTextarea.value.slice(0, 500);
        }
        charCountDisplay.textContent = currentLength;
    });
    

    // 댓글 목록 불러오기
    async function fetchComments() {
        const postId = document.getElementById('post_id').value;
        try {
            COMMON.showProgressBar();
            const response = await fetch(`${apiUrl}/comments?post_id=${postId}`);
            const data = await response.json();
            displayComments(data.results || []);
            COMMON.hideProgressBar();
        } catch (error) {
            console.error('Error fetching comments:', error);
            showToast('alert','Error fetching comments. Please try again.');
        }
    }

    // 한국식 날짜 형식 변환 함수
    function formatDate(dateString) {
        const date = new Date(dateString);
        return date.toLocaleString('ko-KR', {
            year: 'numeric',
            month: 'long',
            day: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
        });
    }

    // 댓글 목록 표시하기
    function displayComments(comments) {
        const commentsSection = document.getElementById('comments-section');
        commentsSection.innerHTML = '';
        comments.forEach(comment => {
            const commentElement = document.createElement('div');
            commentElement.classList.add("border", "p-3", "mb-2", "rounded");

            commentElement.innerHTML = `
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <i class="bi bi-person-fill me-1"></i><strong>${comment.user_name}</strong>
                    </div>
                    <button class="btn btn-link p-0 m-0 text-decoration-none" onclick="deleteComment(${comment.id})">
                        <span class="close-x">×</span>
                    </button>
                </div>
                <small class="text-muted">${formatDate(comment.created_at)}</small>
                <p class="mt-2">${comment.comment}</p>
            `;
            commentsSection.appendChild(commentElement);
        });
    }

    // CAPTCHA 생성
    document.getElementById('generate-captcha-btn').addEventListener('click', async () => {
    const user_name = document.getElementById('user_name').value;
    const comment = document.getElementById('comment').value;
    const post_id = document.getElementById('post_id').value;

    try {
        COMMON.showProgressBar();
        const response = await fetch(`${apiUrl}/generate-captcha`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ post_id, user_name, comment })
        });
        const data = await response.json();

        const canvas = document.getElementById('captcha-canvas');
        const context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.font = "20px Arial";
        context.fillStyle = getCurrentTextColor();
        context.textAlign = "center";
        context.textBaseline = "middle";

        const x = canvas.width / 2;
        const y = canvas.height / 2;
        // console.log('y',y)
        context.fillText(data.question, x, (y+2));

        document.getElementById('captcha-id').value = data.captchaId;
        
        document.getElementById('generate-captcha-btn').style.display = 'none';
        document.getElementById('captcha-section').classList.remove('d-none');
        document.getElementById('captcha-section').style.display = 'flex';
        showToast('noti','자동방지 문자를 입력하세요.');
        document.getElementById("captcha-answer").focus();
        
    } catch (error) {
        console.error('Detailed error:', error);
        showToast('alert','Error generating CAPTCHA. Please try again.');
    }
});

    // CAPTCHA 검증 및 댓글 저장
    document.getElementById('verify-captcha-btn').addEventListener('click', async () => {
        const captchaAnswer = document.getElementById('captcha-answer').value;
        const captchaId = document.getElementById('captcha-id').value;
        const post_id = document.getElementById('post_id').value;
        const user_name = document.getElementById('user_name').value;
        const comment = document.getElementById('comment').value;
        const password = document.getElementById('password').value;

        try {
            COMMON.showProgressBar();
            const response = await fetch(`${apiUrl}/comments`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ post_id, user_name, comment, password, captchaId, captchaAnswer })
            });
            
            if (response.ok) {
                showToast('noti','댓글이 성공적으로 추가되었습니다.');
                fetchComments();
                
                // 댓글 작성 폼과 CAPTCHA 초기화
                document.getElementById('comment-form').reset();
                document.getElementById('captcha-section').classList.add('d-none');
                document.getElementById('captcha-answer').value = "";
                document.getElementById('captcha-id').value = "";
                charCountDisplay.textContent = "0";
            } else {
                document.getElementById('captcha-answer').value = "";
                document.getElementById('captcha-id').value = "";
                showToast('alert','잘못된 CAPTCHA입니다. 다시 시도해주세요.');
                document.getElementById('captcha-section').classList.add('d-none');
            }

            document.getElementById('generate-captcha-btn').style.display = 'block';
        } catch (error) {
            console.error('Error verifying CAPTCHA:', error);
            showToast('alert','Error verifying CAPTCHA. Please try again.');
            document.getElementById('generate-captcha-btn').style.display = 'block';
        }
    });

    // 댓글 삭제
    async function deleteComment(commentId) {
        const password = prompt("비밀번호를 입력하세요.");
        if (!password) return;

        try {
            COMMON.showProgressBar();
            const response = await fetch(`${apiUrl}/comments`, {
                method: 'DELETE',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ comment_id: commentId, password })
            });

            if (response.ok) {
                showToast('noti','삭제 되었습니다.');
                fetchComments();
            } else {
                showToast('alert','비밀번호가 다릅니다.');
            }
        } catch (error) {
            console.error('Error deleting comment:', error);
            showToast('alert','Error deleting comment. Please try again.');
        }
    }

    // 페이지 로드 시 댓글 목록 불러오기
    fetchComments();
</script>
