<div class="sticky-top sticky-top-offset">
    <h4 class="font-weight-bold spanborder"><span>추천기사</span></h4>
    <ol class="list-featured">
      {% assign main_articles = site.posts | where: "article_group_name", "main" | sort: "article_group_order" %}
      {% for article in main_articles %}
        <li class="mb-4">
          <div class="d-flex align-items-center">
            <div class="flex-grow-1 mwp-71 pe-3">
              <h5 class="font-weight-bold text-title">
                <a href="{{ article.permalink }}" class="text-dark">{{ article.title }}</a>
              </h5>
            </div>
            <div class="ml-3 image-container">
              {% if article.image %}
                <img src="{{ article.image }}" class="rounded featured-image" />
              {% else %}
                <img src="placeholder.jpg" class="rounded featured-image" />
              {% endif %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ol>
  </div>
  