<div class="sticky-top sticky-top-offset">
<h4 class="font-weight-bold spanborder"><span>추천기사</span></h4>
<ol class="list-featured">
        <li class="mb-4">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                    <span>
                        <h6 class="font-weight-bold">
                            <a href="/culture-sports/66850953" class="text-dark">아시안게임 금메달리스트 사격 김예지, 파리 올림픽 국가대표 선발전에서 아쉽게 탈락</a>
                        </h6>
                        <span class="d-block text-muted">
                            <span class="catlist">
                                <a class="text-capitalize text-muted smoothscroll" href="/culture-sports">문화/스포츠</a>
                            </span> • <span class="timeago">2024-11-07 10:00</span>
                        </span>
                    </span>
                </div>
                <div class="ml-3">
                    <img src="http://res.cloudinary.com/dwgemrzfr/image/upload/v1730935820/y7vlzbj0gbzj308fzszv.png" class="rounded" width="120" height="80" />
                </div>
            </div>
        </li>
</ol>
</div>
