<div class="sticky-top sticky-top-offset">
<h4 class="font-weight-bold spanborder"><span>추천기사</span></h4>
<ol class="list-featured">
        <li class="mb-4">
            <div class="d-flex align-items-center">
                <div class="flex-grow-1 mwp-71 pe-3">
                    <span>
                        <h5 class="font-weight-bold text-title">
                            <a href="/society-international/15183356" class="text-dark">"분당서 무를 망명? 없다... 혐의도 조사도 포기" [법조계에 묻어보니 551]</a>
                        </h5>
                        <span class="d-block text-muted">
                            <span class="catlist">
                                <a class="text-capitalize text-muted smoothscroll" href="/society-international">사회/국제</a>
                            </span> • <span class="timeago" data-date="2024-11-13 11:35"></span>
                        </span>
                    </span>
                </div>
                <div class="ml-3 image-container">
                    <img src="http://res.cloudinary.com/dwgemrzfr/image/upload/v1731465196/qajcxt9qwhoficdckqpi.png" class="rounded featured-image" />
                </div>
            </div>
        </li>
</ol>
</div>
