---
layout: default
---
<div class="container-fluid">
    <div class="mw-1200 mx-auto">

        <div class="row">

            <div class="side-menu col-md-3">
                <nav class="nav flex-column">
                    <a href="{{site.menu_url_about-us}}" class="nav-link active">{{site.menu_name_about-us}}</a>
                    <a href="{{site.menu_url_terms-of-service}}" class="nav-link">{{site.menu_name_terms-of-service}}</a>
                    <a href="{{site.menu_url_policy-copyright}}" class="nav-link">{{site.menu_name_policy-copyright}}</a>
                    <a href="{{site.menu_url_policy-youth}}" class="nav-link">{{site.menu_name_policy-youth}}</a>
                    <a href="{{site.menu_url_email-rejection}}" class="nav-link">{{site.menu_name_email-rejection}}</a>
                    <a href="{{site.menu_url_contact-us}}" class="nav-link">{{site.menu_name_contact-us}}</a>
                </nav>
            </div>


            <div class="col-md-9">
                <h2 class="mb-3 font-weight-bold"><span>{{page.title}}</span></h2>
                <div class="page-content">
                    {{ content }}
                </div>
            </div>

        </div>

    </div>
</div>

<style>
.side-menu {
    min-height: 80vh;
}

.side-menu .nav-link {
    /* color: #495057; */
    padding: 0.8rem 1rem;
}

.side-menu .nav-link.active {
    font-weight: bold;
}
 /* 
.content {
    padding: 20px;
}

@media (max-width: 767.98px) {
    .side-menu {
     min-height: auto;
     border-right: none;
     border-bottom: 1px solid #dee2e6;
    } 
}
    */
</style>
