---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="container-fluid">
    <div class="mw-1200 mx-auto">
      <div class="row">
        <div class="col-md-8 px-md-3 px-0 print_area">
          <div class="content-header mb-2 pl-0 pt-0 pb-0 bg-white position-relative">
            <div class="mw-100 px-3">
                <p class="text-uppercase font-weight-bold">
                  <span class="catlist">
                    {% for category in page.categories %}
                    <a class="sscroll text-danger" href="{{site.baseurl}}/{{ category | downcase }}">{{ page.categories_name[0] | downcase }}</a>
                    {% endfor %}
                  </span>
                </p>
                <h1 class="mb-2 article-headline">{{ page.title }}</h1>


                <div class="d-flex justify-content-between align-items-center p-2">
                  <!-- Left-aligned content -->
                  <div class="d-flex align-items-center article_info">
                    <small id="author-text" class="ml-3">
                      {{ page.author }}
                      <span class="text-muted d-block mt-1">
                        {{ page.date | date: "%Y-%m-%d" }} {{ page.time }}
                      </span>
                    </small>
                  </div>
                  
  <!-- Right-aligned buttons -->
  <div class="d-flex">
    <button class="icon-button mx-1" onclick="copyURL()">
      <i class="bi bi-link-45deg"></i>
    </button>
    <button class="icon-button mx-1" onclick="adjustFontSize('-')" style="font-size: 16px;">
      가
    </button>
    <button class="icon-button mx-1" onclick="adjustFontSize('+')">
      가
    </button>
    <button class="icon-button mx-1" onclick="printPage()">
      <i class="bi bi-printer"></i>
    </button>
  </div>
                </div>                  
            </div>
          </div>
          <div id="article_div" class="px-md-3 px-0">
            {% assign content_with_figure = content | replace: '<img', '||TEMP_IMG||' %}
            {% assign content_with_figure = content_with_figure | replace: '<p><||TEMP_IMG||', '<figure class="w-100"><img' %}
            {% assign content_with_figure = content_with_figure | replace: '||TEMP_IMG||', '<figure class="w-100"><img' %}
            {% assign splits = content_with_figure | split: 'alt="' %}
            {% assign final_content = '' %}
            {% for split in splits %}
            {% if forloop.first %}
            {% assign final_content = split %}
            {% else %}
            {% assign text_and_rest = split | split: '"' %}
            {% assign alt_text = text_and_rest | first %}
            {% assign rest_content = text_and_rest | slice: 1, text_and_rest.size | join: '"' %}
            {% assign final_content = final_content | append: '" alt="' | append: alt_text | append: '" title="' | append: alt_text | append: '"><figcaption>' | append: alt_text | append: '</figcaption></figure>' %}
            {% assign rest_content = rest_content | replace: '/>', '' %}
            {% assign final_content = final_content | append: rest_content %}
            {% endif %}
            {% endfor %}

            {% if page.subtitle %}
              <div class="article-subtitle">
                {{ page.subtitle | newline_to_br }}
              </div>
            {% endif %}


            <article id="article-post" class="article-post">

              {% assign paragraphs = final_content | split: '</p>' %}
              {% assign ads = site.ads | shuffle %}
              {% assign ad_index = 0 %}
              {% assign total_ads = ads.size %}
              {% assign ad_interval = 2 %}
            
              {% for paragraph in paragraphs %}
                {{ paragraph }}</p> <!-- 단락 출력 -->
            
                <!-- 광고 삽입 조건 -->
                {% assign modulo_result = forloop.index | modulo: ad_interval %}
                {% if modulo_result == 0 and ad_index < total_ads %}
                  {% capture ad_file %}{{ ads[ad_index] }}{% endcapture %}
                  {% include {{ ad_file }} %} <!-- 광고 삽입 -->
                  {% assign ad_index = ad_index | plus: 1 %}
                {% endif %}
              {% endfor %}
            
              <!-- 남은 광고를 본문 마지막에 표시 -->
              {% if ad_index < total_ads %}
                <div class="remaining-ads">
                  {% for ad in ads offset: ad_index %}
                    {% capture ad_file %}{{ ad }}{% endcapture %}
                    {% include {{ ad_file }} %} <!-- 남은 광고 삽입 -->
                  {% endfor %}
                </div>
              {% endif %}

            </article>
            {% if page.comments != false %}
            {% include comments.html %}
            {% endif %}
          </div>
      </div>
      <div class="col-md-4">
        <div class="sticky-top sticky-top-offset">
            {% include adv-sidebar.html %}
            <div class="p-2">
                {% include sidebar-featured.html %}
            </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  const FONT_SIZE_KEY = 'dhlFontSize'; // Key for storing font size in localStorage
  //const currentFontSizeDisplay = document.getElementById('currentFontSizeDisplay'); // Display for current font size

  const articleSubTitle = document.getElementById('article-subtitle');
  const articlePost = document.getElementById('article-post');

  // Load the font size from localStorage
  function loadFontSize() {
    const savedFontSize = localStorage.getItem(FONT_SIZE_KEY);
    const defaultSize = '18px'; // Default font size
    const fontSize = savedFontSize || defaultSize;
    //currentFontSizeDisplay.style.fontSize = fontSize; // Set font size for display
    articlePost.style.setProperty('--font-size', savedFontSize || defaultSize);
    articleSubTitle.style.setProperty('--font-size', savedFontSize || defaultSize);
  }
  
  function adjustFontSize(action) {
    const currentSize = parseFloat(window.getComputedStyle(articlePost).getPropertyValue('--font-size'));
    let newSize = action === '+' ? currentSize + 2 : currentSize - 2;
    if (newSize < 14) newSize = 14; // Minimum font size
    if (newSize > 28) newSize = 28; // Maximum font size
    //currentFontSizeDisplay.style.fontSize =  `${newSize}px`; // Update the display size
    articlePost.style.setProperty('--font-size', `${newSize}px`);
    articleSubTitle.style.setProperty('--font-size', `${newSize}px`);
    localStorage.setItem(FONT_SIZE_KEY, `${newSize}px`); // Save to localStorage
  }



  // Copy URL to clipboard and show alert
  function copyURL() {
    navigator.clipboard.writeText(window.location.href)
      .then(() => showToast('noti','URL이 클립보드에 복사 되었습니다.'))
      .catch(err => console.error('alert','URL을 복사할 수 없습니다.'));
  }

  // Print the page
  function printPage() {
    window.print();
  }

  // Initialize font size on page load
  document.addEventListener('DOMContentLoaded', loadFontSize);

  </script>

<style>
@media print {
  body * {
    display: none; /* 모든 요소 숨김 */
  }
  .print_area, .print_area * {
    display: block !important; /* print_area와 그 하위 요소만 보이도록 설정 */
  }
}
  .icon-button {
    background: transparent;
    border: none;
    font-size: 21px;
    color: #333;
    cursor: pointer;
    padding: 5px;
    margin: 0 10px; /* 버튼 사이에 10px 간격 추가 */
  }
  .icon-button:hover {
    color: #666 !important;
  }
  .modal {
    background: transparent;
    z-index: 1050;
  }
</style>